/* ----------- Colors ---------- */

.bg-color-main {
    background-color: #404141;
}


/* ---------------- Logo --------------*/




/* ---------------- Index Core Detail --------------*/

html { 
    background: url(../images/mainsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
