/* ------ Google Fonts --------*/

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500|Roboto:400,400i,500,500i&display=swap');

.bg-color-main {
    background-color: #404141;
}

.font-color-main {
    color: #f6c67c;
}

/* ------- Header ----------- */

.logo {
    display: block;
  margin-left: auto;
  margin-right: auto;
}


/* ---------- Navigation -------- */

.nav {
    background-color: #404141;
}

.nav-link {
    color: #f6c67c;
}